*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(250, 245, 245);
    height: 100vh;
}
.text-box{
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 10px 8px rgb(250, 245, 245);
    padding: 1.5rem 0px;
    height: 60%;
}
.heading{
    width: 98%;
    margin: 10px auto;
    padding-bottom: 20px;
   border-bottom: 2px solid black;
}

textarea{
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
}

.text-center{
    text-align: center;
}

#btn{
    margin-top: 15px;
    width: 6rem;
    border: 1px solid black;
    padding: 10px;
    border-radius: 6px;
    background: no-repeat;
    font-size: 18px;
    cursor: pointer;
}